/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


a:hover {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
  background-color: #3c3c3e;
  border-bottom: 2px solid #151516;
}

.logo {
  width: 60px;
  margin: 15px 0;
}


/* Main */
html, body { 
  height: 100%; 
} 

.main {
  padding-top: 20px;
  background-color: #1c1c1e;
  
  min-height: 100%; 
  height: auto !important;
  height: 100%; 
  margin: 0 auto -100px;
  vertical-align: bottom;
}




/* Thumbnail */
.thumbnail {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  height: 350px;
}

.title,
.artist {
  color: #fff;
  text-align: center;
}

.title,
.album-title {
  margin: 5px 0 3px 0;
  font-size: 16px;
  font-weight: 500;
}

.artist,
.album-artist {
  font-size: 13px;
}

/* Track */
.show {
  margin: 20px 0;
}


.album-title,
.album-artist,
.track .name,
.track .minutes {
  color: #fff;
}

.album-artist {
  margin-bottom: 25px;
}

.track {
  margin-top: 10px;
}

/* Footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0 35px 0;
}

.footer h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  color: #aaa;
  font-size: 13px;
  display: inline-block;
  padding: 5px 0;
}